@keyframes pretty-colors {
  0%   {color:red;}
  25%  {color:yellow;}
  50%  {color:blue;}
  75%  {color:green;}
  100% {color:red;}
}

@keyframes red-lenses {
  0%  {color:black;}
  50% {color:red;}
}

/*body {
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  background-color: rgb(163,204,255);
}*/

body {
  text-align: center;
  font-family: 'Share Tech', sans-serif;
  background-color: rgb(163,204,255);
}

#map {
  min-height: 400px;
  height: auto !important;
  height: 100%
  width: 100%;
}

#where-im-at {
  color: #6882A3;
  animation-name: pretty-colors;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#loading {
  text-align: center;
  font-size: 60pt;
  animation-name: red-lenses;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.load-header{
  text-align:center !important;
  margin:auto;
  position: relative;
}

#distance {
  width: 40px;
}



/* From Pali Madra on CodePen (with slight modification)
https://codepen.io/palimadra/pen/jHodC */

@import "compass/css3";

.button {
  background-color: #6882A3;
  background-image: linear-gradient(167deg, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0) 55%), linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0));
  border-radius: 6px;
  box-shadow: 0 0 0 1px #536882 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #425368, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  color: #FFF;
  display: inline-block;
  font-family: "Lucida Grande", Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  height: 61px;
  letter-spacing: -1px;
  line-height: 61px;
  margin: 30px 0 10px;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  text-decoration: none !important;
  top: 0;
  width: relative;
  padding-left: 20px;
  padding-right: 20px;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.button:hover, .button:focus {
  background-color: #6882A3;
  box-shadow: 0 0 0 1px #536882 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #425368, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
  top: -2px;
}

.button:active {
  box-shadow: 0 0 0 1px #6882A3 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-1 {
  width: 8.333333%;
}
.col-md-2 {
  width: 16.666667%;
}
.col-md-3 {
  width: 25%;
}
.col-md-4 {
  width: 33.333333%;
}
.col-md-5 {
  width: 41.666667%;
}
.col-md-6 {
  width: 50%;
}
.col-md-7 {
  width: 58.333333%;
}
.col-md-8 {
  width: 66.666667%;
}
.col-md-9 {
  width: 75%;
}
.col-md-10 {
  width: 83.333333%;
}
.col-md-11 {
  width: 91.666667%;
}
.col-md-12 {
  width: 100%;
}
